# z-way-server.service: systemd configuration file

[Unit]
Description=z-way-server.service: Z-Way Server

[Service]
User=root
Group=root
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin
WorkingDirectory=/opt/z-way-server
ExecStart=/opt/z-way-server/z-way-server

#default:90 secs
TimeoutStopSec=2min

#Restart=on-failure
#RestartSec=2min

[Install]
WantedBy=multi-user.target

